[Desktop Entry]
Name=blender2.8
Type=Application
Exec=/home/lqs/Downloads/blender-2.81/blender
Icon=/home/lqs/Downloads/blender-2.81/blender.svg
Terminal=false
